{# verse-display.html.twig #}

<div class="verse-display d-flex justify-content-center align-items-center" style="background-color: {{ background_color }}; height: 100vh;">
  <div class="verse-box bg-light border rounded p-4 shadow-lg w-100" style="max-width: 600px;">
    <p class="verse-text text-center">
      <h2 class="verse-reference d-block mb-2 text-warning text-center" style="font-weight: bold;">
        {{ verse_reference|raw }}
      </h2>
  
       <h1 class="text-center"> {{ verse_text |raw }} <h1>
   
    </p>
  </div>
</div>
